body {
 height: 100vh;
 margin: 0;
 display: grid;
 place-items: center
}

.box {
 width: 300px;
 border-color: "pear";
 border-style: solid;
 padding-top: 2vh;
}

.subtitle {
 background-color: "lime";
}
