body {
 height: 100vh;
 margin: 0;
 display: grid;
 place-items: center
}

.box {
 width: 300px;
 border-color: "grey";
 border-style: solid;
 padding-top: 1%;
}

.subtitle {
 background-color: "dew";
}
